body {
   color: blueviolet; 
}

.terrariet {

   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 60%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
}
