body {
   color: blueviolet; 
   background-image: url("https://static.posters.cz/image/1300/fototapet/above-the-clouds-sky-i77999.jpg");
}


.terrariet {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 80%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.källaren {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 50%;
   top: 25%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.kafeterian {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 70%;
   top: 75%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.lab_10 {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 30%;
   top: 75%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.översta_våningen {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 20%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.genomsnitt_temp {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px solid rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
