body {
   color: blueviolet; 
}

.terrariet {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 80%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.källaren {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 50%;
   top: 25%;
   transform: translate(-50%, -50%);
}
.kafeterian {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 70%;
   top: 75%;
   transform: translate(-50%, -50%);
}
.lab_10 {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 30%;
   top: 75%;
   transform: translate(-50%, -50%);
}
.översta_våningen {
   position: absolute;
   background-color: rgb(66, 214, 255);
   margin: auto;
   width: 30%;
   height: 5%;
   border: 5px;
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 20%;
   top: 50%;
   transform: translate(-50%, -50%);
}