body {
   color: rgb(0, 0, 0); 
   background-image: url("https://images.hdqwalls.com/wallpapers/to-the-sky-qu.jpg");
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: larger;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: 100%;
}

.text_genomsnitt {
   line-height: 1em;
   margin-top: 30%;
}

.genomsnitt_temp_temp{
margin: 1em;
padding: 1em;
line-height: 1em;
}

.terrariet {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 15%;
   height: 15%;
   border: 5px solid rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 88%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.85;
   border-radius: 15px;
}
.källaren {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 15%;
   height: 15%;
   border: 5px solid rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 80%;
   top: 85%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.85;
   border-radius: 15px;
}
.kafeterian {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 15%;
   height: 15%;
   border: 5px solid rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 42%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.85;
   border-radius: 15px;
   z-index: 5;
}
.lab_10 {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 15%;
   height: 15%;
   border: 5px solid rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 50%;
   top: 85%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.85;
   border-radius: 15px;
   z-index: 5;
}
.översta_våningen {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 15%;
   height: 15%;
   border: 5px solid rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   justify-content: center;
   left: 65%;
   top: 15%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.85;
   border-radius: 15px;
}
.genomsnitt_temp {
   position: absolute;
   background-color: #f36979;
   margin: auto;
   width: 250px;
   height: 250px;
   border: 5px solid rgb(255, 255, 255);
   padding: 10;
   line-height:250px;
   text-align: center;
   justify-content: center;
   left: 65%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   border-radius: 50%;
   opacity: 0.9;
}

.genomsnitt_temp:hover, .översta_våningen:hover, .lab_10:hover, .kafeterian:hover, .källaren:hover, .terrariet:hover {
   opacity: 1.0;
}

.introduktion {
   position: absolute; 
   background-color: rgb(21, 56, 95);
   width: 350px;
   height: 100%;
   padding: 10px;
   left: 13%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   opacity: 0.7;
   border-radius: 15px;
   font-size: medium;
   z-index: 0; 
   color: rgb(240, 239, 239);
   padding-left: 70px;
   padding-top: 20px;
   line-height: 1.5em;
}
